# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [63]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [94]:
# Load data here

df = pd.read_csv('data/listings.csv')

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 

priceLess100 = df['price'] < 100

df_priceLess100 = df[ priceLess100 ]

df_priceLess100.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344

In [13]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

listingInBK = df['neighbourhood_group'] == 'Brooklyn'

df_bk = pd.DataFrame(df[ listingInBK ])

df_bk.head()
df_bk.shape[0]

18632

In [14]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

bkPriceLess100 = df['price'] < 100
df_bkPriceLess100 = df [ bkPriceLess100 ]
df_bkPriceLess100.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344

In [62]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

hostName = ['Michael' , 'David', 'John', 'Daniel']
condition = df.host_name.isin(hostName)
df[condition].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Private room,271,1,172,2020-07-14,1.44,1,365,371
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Private room,91,14,97,2018-01-31,0.83,1,44,0
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Private room,205,15,68,2019-12-14,0.67,2,89,0
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Private room,200,3,0,NaN,NaN,1,0,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Private room,187,30,90,2020-07-31,0.81,1,261,287

In [66]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
c1 = df['neighbourhood'] == 'Williamsburg'

df['adjusted_price']  = np.where(c1, df['price'] + 100, 0)

df[ c1 ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46484,44746041,"Modern, light-filled apartment in Wiliamsburg",3317380,Marge,Brooklyn,Williamsburg,40.71372,-73.95407,Entire home/apt,250,7,0,NaN,NaN,1,164,350
46489,44749327,Luxury 3 bedroom apartment Williamsburg ROOF P...,334780877,Pedro & Maria,Brooklyn,Williamsburg,40.70902,-73.95610,Entire home/apt,464,4,0,NaN,NaN,1,344,564
46493,44753863,"Bright, spacious East Williamsburg loft",38062951,Nathan,Brooklyn,Williamsburg,40.70372,-73.93492,Entire home/apt,100,7,0,NaN,NaN,1,146,200
46513,44800276,"Williamsburg 1 Bedroom, Spacious and Classy",361034257,Angelo + Amirah,Brooklyn,Williamsburg,40.71283,-73.95400,Entire home/apt,180,7,0,NaN,NaN,1,364,280
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155

In [86]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
c1 = df['room_type'] == 'Private room'
c2 = df['room_type'] == 'Shared room'

privPercentage = (df[ c1 ].shape[0]/df.shape[0])*100
sharedPercentage = (df[ c2 ].shape[0]/df.shape[0])*100

print(f"Private Room Percentage: { privPercentage }%")
print(f"Shared Room Percentage: {sharedPercentage} %")

Private Room Percentage: 45.444580566122895%
Shared Room Percentage: 2.12134889419047 %

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [104]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

neighGroups = df.groupby('neighbourhood_group')

neighGroups['neighbourhood_group'].size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: neighbourhood_group, dtype: int64

In [105]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

neighGroups['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [103]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

neighGroups['price'].agg(['min','max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
#  1. Who was won Album of the Year in 2016?

In [20]:
# 2. Who won Best Rap Album in 2009?

In [21]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?